<% content_for :header do %>
    <h1>Our most popular questions:</h1>
<%end%>

<% content_for :content do %>
    <% @popular_questions.each do |question| %>
        <ul>
            <li><%=link_to "#{question.name}", question_answers_path(question) %></li>
        </ul>
    <%end%>
<%end%>