<h1><%= @question.name %></h1>
<label> Tags: </label>
<% @question.tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag) %>
<%end%>

<%= render partial: 'answers/form', locals: {answer: @answer} %>