<% content_for :header do %>
    <h1><%= @user.name %>'s Answers</h1>
<% end %>

<% content_for :content do %>
    <% @answers.each do |answer| %>
        <ul>
            <li>Q: <%= link_to question_name(answer), answer_path(answer) %><br>
                A: <%= answer.content %>
            </li>
        </ul>
    <% end %> 
<% end %>
