<center><h1>Welcome to Question a Day</h1></center>
<br>
<br>
<h3>Today's question is: <%= todays_question.name %></h3>
<br>
<br>
<center><h5>Please log in or sign up to answer.</h5>



<%= button_to "Log in", login_url, :method => "get", class: "btn btn-outline-primary col-8" %> <br>
<%= button_to "Sign up", signup_url, :method => "get", class: "btn btn-outline-primary col-8" %> <br>
<%= button_to "Log in with Google", '/auth/google_oauth2', class: "btn btn-outline-primary col-8" %></center>








