<h1>Welcome</h1>

<% if current_user %>
    <%= button_to "Logout", logout_url, method:"delete" %>
<%else%>
    <%= link_to "Sign up", signup_url %> 
    <%= link_to "Log in", login_url %> 
<%end%>




