<center><h1>Welcome to Question a Day</h1>
<br>
<br>
<h3>Today's question is: </h3>
<h3><%= @todays_question.name %></h3> 
<h3>Please log in or sign up to answer.</h3>

<br>

<%= button_to "Log in", login_url, :method => "get", class: "btn btn-outline-primary col-8" %> <br>
<%= button_to "Sign up", signup_url, :method => "get", class: "btn btn-outline-primary col-8" %> <br>
<%= button_to "Sign up with Google", '/auth/google_oauth2', class: "btn btn-outline-primary col-8" %>
</center>







