<h1><%= @answer.question.name %></h1>
<%= render partial: 'form', locals: {answer: @answer} %>

<%= link_to "All Answers ", question_answers_path(@answer.question.id) %>
<%= link_to "Delete Answer ", answer_path, method:"delete" %>