<% content_for :header do %>
    <h1><%= @question.name %></h1>
<%end%>

<% content_for :content do %>
    <% @answers.each do |answer| %>
        "<%= answer.content %>" - <%= answer.user.name %><br>
        <br>
    <%end%>
    <center><%= button_to 'Back to Question', question_path(@question), :method => "get", class: "btn btn-outline-primary col-4"%><br></center>
<%end%>

