<% content_for :header do %>
    <h1><%= question_name(@answer) %></h1>
<%end%>

<% content_for :content do %>
    <% if !@answer.question.users.include? current_user %>
        <%= render partial: 'form', locals: {answer: @answer} %>
    <%else%>
        <p>You've already answered this question </p>
        <%= link_to "Home", root_path %>
    <%end%>
<%end%>