<% content_for :header do %>
    <h1>Tags</h1>
<%end%>

<% content_for :content do %>
    <% @tags.each do |tag| %>
        <ul>
            <li><%=link_to "#{tag.name}", tag_path(tag) %></li>
        </ul>
    <%end%>

    <% if is_admin?(current_user) %>
        <%= link_to "Add a New Tag", new_tag_path %>
    <%end%>
<%end%>
